<a href="https://colab.research.google.com/github/xiaoxuan716/Python_review/blob/main/Mid_Term%E5%A4%8D%E4%B9%A02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   the range function begins at 0 and ends at -1 with steps of +1.  range（-1）
2.   We cant's concatenate the lists lst[0:pos] and lst[pos:] with the int 7 stored in e.
3.  a tuple is immutable and cannot be assigned as is done on line 3 (with the equal sign)

In [ ]:
import pandas as pd
df=pd.DataFrame({'Yes':[50, 21], 'No':[131, 2]})
print(df)

   Yes   No
0   50  131
1   21    2

In [ ]:
pd.Series([4, 5, 2, 9])

0    4
1    5
2    2
3    9
dtype: int64

In [ ]:
df.sort_values(by=['No','Yes'], ascending=False).iloc[-1]  # ascending = False 代表降序

Yes    21
No      2
Name: 1, dtype: int64

In [ ]:
import pandas as pd 
from google.colab import files
import io 
uploaded = files.upload()
data = pd.read_csv('UK_orders.csv',sep=";",header=[0]) # 没有header用None 然后后面建立新的col名： df.columns=["","",""]
data.head()

Saving UK_orders.csv to UK_orders.csv

        ID       date              Name    Amount
0  SO75111  30-6-2020         Tamara Lu   54.1119
1  SO75113  30-6-2020        Faith Wood  127.0308
2  SO75116  30-6-2020  Alexander Martin    5.5140
3  SO75117  30-6-2020        Tracy Goel   32.5754
4  SO75082  29-6-2020      Ebony Suarez   59.6479

In [ ]:
data.iloc[-1]

ID             SO74244
date          2-6-2020
Name      Kathryn Goel
Amount         76.2119
Name: 78, dtype: object

In [ ]:
#data.columns=["ID","Date","Name","Amount"]

#round(data.groupby("date")["Amount"].sum(),2)
print(round(data.groupby("date")["Amount"].mean() ,2))
print(pd.DataFrame(data.groupby("date")["Amount"].mean())) #转化成 dataframe格式

# Filter data 一样的效果
print(data.loc[data.date=="30-6-2020"])
print(data[data.date=="30-6-2020"])


# 每个日期对应的 amount list 输出
D=data["date"].unique()
for i in range(len(D)) :
  print(list(data.loc[data.date==D[i]]["Amount"]))

date
10-6-2020     85.05
11-6-2020     95.60
12-6-2020     32.59
13-6-2020     54.01
14-6-2020     38.03
15-6-2020     40.08
16-6-2020     50.50
17-6-2020     32.70
18-6-2020     66.40
19-6-2020     60.41
2-6-2020      53.86
20-6-2020     45.45
21-6-2020     76.50
22-6-2020     75.11
23-6-2020     63.74
25-6-2020     68.47
26-6-2020     51.35
27-6-2020     49.59
28-6-2020    164.62
29-6-2020     59.65
3-6-2020      84.79
30-6-2020     54.81
4-6-2020      35.45
5-6-2020       4.96
6-6-2020      30.14
7-6-2020      66.36
8-6-2020      16.83
9-6-2020      66.31
Name: Amount, dtype: float64
               Amount
date
10-6-2020   85.051900
11-6-2020   95.604633
12-6-2020   32.586500
13-6-2020   54.012450
14-6-2020   38.026767
15-6-2020   40.078400
16-6-2020   50.499913
17-6-2020   32.696967
18-6-2020   66.396700
19-6-2020   60.414800
2-6-2020    53.863250
20-6-2020   45.448700
21-6-2020   76.499150
22-6-2020   75.106900
23-6-2020   63.740100
25-6-2020   68.465800
26-6-2020   51.349400
27-6-2020   49.589675
28-6-2020  164.622900
29-6-2020   59.647900
3-6-2020    84.786650
30-6-2020   54.808025
4-6-2020    35.452100
5-6-2020     4.961500
6-6-2020    30.144400
7-6-2020    66.364120
8-6-2020    16.829200
9-6-2020    66.307400
        ID       date              Name    Amount
0  SO75111  30-6-2020         Tamara Lu   54.1119
1  SO75113  30-6-2020        Faith Wood  127.0308
2  SO75116  30-6-2020  Alexander Martin    5.5140
3  SO75117  30-6-2020        Tracy Goel   32.5754
        ID       date              Name    Amount
0  SO75111  30-6-2020         Tamara Lu   54.1119
1  SO75113  30-6-2020        Faith Wood  127.0308
2  SO75116  30-6-2020  Alexander Martin    5.5140
3  SO75117  30-6-2020        Tracy Goel   32.5754
[54.1119, 127.0308, 5.513999999999999, 32.5754]
[59.6479]
[164.6229]
[71.7919, 41.2055, 44.1779, 41.1834]
[51.3494]
[68.4658]
[110.5995, 43.0729, 37.5479]
[75.1069]
[103.2954, 49.7029]
[35.6584, 55.239]
[145.2412, 15.4479, 47.4819, 38.664, 55.239]
[52.9737, 14.3429, 66.8194, 131.4508]
[41.1834, 48.8631, 8.0444]
[94.4554, 145.2412, 37.5479, 4.409, 30.6859, 76.2119, 5.513999999999999, 9.934]
[40.0784]
[40.431999999999995, 79.4937, 5.513999999999999, 43.0729, 4.409, 55.239]
[77.339, 30.6859]
[9.934, 55.239]
[216.127, 5.513999999999999, 65.1729]
[93.8919, 76.2119]
[62.9519, 95.5383, 40.431999999999995]
[16.8292]
[110.5995, 44.1779, 132.5558, 4.409, 40.0784]
[30.1444]
[4.409, 5.513999999999999]
[44.18899999999999, 46.7194, 15.4479]
[136.9979, 32.5754]
[8.0444, 92.7869, 38.675, 30.1444, 77.3169, 76.2119]